fastapi
uvicorn
python-multipart
numpy
opencv-python
pdf2image
pillow
shapely
scikit-image
torch
torchvision
ultralytics
pydantic
pydantic-settings
python-dotenv
email-validator
python-jose[cryptography]
passlib[bcrypt]
sqlalchemy
asyncpg
psycopg2-binary
alembic
sentence-transformers
torchvision
pgvector
easyocr
basicsr
realesrgan
